form action = "/registered" method = "post"
    input  type = "text" name = "username" placeholder = "Användarnamn"
    input type = "text" name = "password" placeholder = "Lösenord"
    input type = "submit" name = "Register"